body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #24292e;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 3em;
    padding-top: 1%;
}

h2 {
    margin: 0;
    font: 4em;
}

.smaller {
    font-size: 1em;
}

h3 {
    margin: 0;
    font: 4em;
    color: white;
}

h4 {
    size-adjust: 2em;
}

.page-wrapper {
    min-height: 100%;
    flex-grow: 1;
}

.subheading {
    margin: 0;
    font: 2em;
    padding: 1%;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: #24292e;
    color: #cfcfcf;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: none;
}

li:last-child {
    border-bottom: 1px solid #ccc;
}

a {
    display: inline-block;
    color: #464285;
    transition: all 0.3s ease;
}

a:hover {
    color: #b1adec;
    transform: translateY(-1px);
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    text-decoration: none;
    color: black;
    background-color: #e2e2e2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: center;
}

a.button:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}