@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;700&display=swap');

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}

.button {
    /* Align buttons with the text fields */
    padding-left: 90px;
    /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
}

/* Mozilla form CSS example */

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #F1FAEE;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    color: #A8DADC;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    margin-top: 100px;
    grid-column: 2/3;
    grid-row: 1/3;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
    color: #A8DADC;
}

.button-box {
    text-align: center;
}

#contact-form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#contact-form {
    background-color: antiquewhite;
    /* position: absolute; */
    /* top: 0;
    left: 0;
    right: 0; */
    padding: .5em;
    /* make this element invisible until we are ready for it */
    /* display: none; */

    max-width: 400px;
    margin: 5% auto;
    width: 400px;
    grid-column: 2/4;
    padding: 4%;
    margin-top: 200px;
    border-radius: 22px;
    background-color: #cbceca;
    z-index: 1;
    border: #457B9D 2px solid;
}

.moveDown {
    margin-top: 3em;
}

#contact-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.5em;
}

#contact-form input[type="text"],
#contact-form textarea {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

#contact-form button[type="submit"] {
    background-color: #457B9D;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    background-color: #A8DADC;
}

#contact-river-img {
    max-width: 800px;
    z-index: -1;
    margin-right: -300px;
    margin-top: -600px;
    grid-row: 2/3;
    border: #457B9D solid 6px;
    border-radius: 22px;
    margin-left: 20%;
}

.text-notice {
    background-color: #cbceca;
    padding: 5%;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: -100px;
    margin-top: -500px;
    text-align: center;
    grid-row: 3/4;
    grid-column: 1/2;
    border: #457B9D solid 2px;
    border-radius: 22px;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
}

body {
    color: #457B9D;
    background-color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    color: #A8DADC;
    background-color: #457B9D;
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: 150px auto;

}

nav a:hover {
    color: #457B9D;
    background-color: #F1FAEE;
}

.book {
    color: #ffffff;
    background-color: #457B9D;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join {
    color: #457B9D;
    background-color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    color: #457B9D;
    background-color: #F1FAEE;
}

.join:hover {
    color: #457B9D;
    background-color: #A8DADC;
}

.home-title {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.msg {
    background-color: #457B9D;
    font-size: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: #F1FAEE;
    background-color: #457B9D;
    font-family: 'Oswald', sans-serif;
}

.msg p {
    color: #F1FAEE;
    background-color: #457B9D;
    font-size: 0.8em;
    padding-bottom: 15px;
}

footer {
    color: #A8DADC;
    background-color: #457B9D;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #F1FAEE;
    background-color: #457B9D;
    text-decoration: none;
}

footer a:hover {
    color: #A8DADC;
}

footer p {
    font-size: 1.2em;
}

footer p:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.logo {
    width: 80px;
}

.icon .logo {
    width: 80px;
}

.icon {
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
}

.msg {
    grid-column: 6/10;
    grid-row: 6/7;
}

.card-img {
    border: 10px black solid;
    max-width: 100%;
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

@media screen and (max-width: 900px) {

    #hero,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}