@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
}

body {
    background: linear-gradient(to bottom, #ff9900, #ff33cc);
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-grid {
    display: grid;
}

.card {
    width: 940px;
    background: #ffffff;
}

#profile {
    width: 400px;
    height: 470px;
    grid-column: 1/2;
    grid-row: 1/2;
}

#quote {
    width: 50px;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
    margin-top: 400px;
    margin-right: 50px;
}

.card h1 {
    font-size: 2.5em;
    padding-top: 70px;
    text-decoration: underline solid;
    text-underline-offset: 15px;
    grid-row: 1/2;
    grid-column: 2/3;
    position: relative;
}

.card h2 {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 110px;
    text-transform: uppercase;
    font-size: 0.75em;
}

.card p {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 175px;
    font-size: 0.8em;
}

.black-square {
    width: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 400px;
    margin-left: 60px;
}

.black-square:nth-last-of-type(2) {
    margin-left: 80px;
    filter: invert(40%);
}

.black-square:nth-last-of-type(3) {
    margin-left: 100px;
}

.black-square:nth-last-of-type(4) {
    margin-left: 120px;
}

.card p,
.card h2,
.card h1 {
    padding: 0 60px;
}